html {
  min-height: 100%;
}

body {
  padding-top: 30px;
  color: #ffffff;
  background: #3C16D1;
  background: -webkit-radial-gradient(bottom right, #3C16D1, #1FB697);
  background: -moz-radial-gradient(bottom right, #3C16D1, #1FB697);
  background: radial-gradient(to top left, #3C16D1, #1FB697);
  background-repeat: repeat;
  background-size: auto 200%;
}

img {
  height: 140px;
}

.h1, h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 2.2rem;
}

ul {
  margin: 28px 0px 20px 0px;
  padding: 0px;
  list-style-type: none;
}

ul li {
  padding: 0px 0px 10px 0px;
}

ul li a {
  color: #ffffff;
}

ul li a:active, ul li a:hover {
  color: #a6dae2;
  text-decoration: none;
}

ul li a span {
  display: inline-block;
  width: 18px;
  margin-right: 2px;
}

.main-content {
  min-height: 82vh;
}

.main-content .spacer {
  height: 10px;
}

.main-content .btn {
  width: 120px;
}

.main-content .banner {
  margin-top: 24px;
  color: #474747;
  opacity: 0.65;
}

.main-content .banner span {
  color: #2b128f;
}
