body {
  padding: 26px 0px 26px 0px;
  color: #ffffff;
  background: #3C16D1;
  background: -webkit-radial-gradient(bottom right, #3C16D1, #1FB697);
  background: -moz-radial-gradient(bottom right, #3C16D1, #1FB697);
  background: radial-gradient(to top left, #3C16D1, #1FB697);
  background-repeat: no-repeat;
}

h1 {
  font-family: 'Bebas Neue', cursive;
}

hr {
  margin-bottom: 20px;
}

ul {
  padding: 0px;
  list-style-type: none;
}

ul li {
  padding: 0px 0px 10px 0px;
}

ul li a {
  color: #ffffff;
}

ul li a:active, ul li a:hover {
  color: #a6dae2;
  text-decoration: none;
}

ul li a span {
  display: inline-block;
  width: 24px;
}
